<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">Personnel Management</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/Home/create" class="nav-link">Create Personnel</a>
            </li>
            <li class="nav-item">
                <a href="/admin/products" class="nav-link">Create Material</a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Create Debit</a>
            </li>
            <li class="nav-item">
                <a href="/admin/role/list" class="nav-link">Roles</a>
            </li>
            <li class="nav-item">
                <a href="/admin/user/list" class="nav-link">Users</a>
            </li>
             
        </ul>


    </div>
</div>